# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folders
deepfake_env/
env/
.environment/
.environment

# VS Code settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Log files
*.log

# OS junk
.DS_Store
Thumbs.db

# Environment variables or secrets
.env
*.env

# Python egg files
*.egg
*.egg-info/
dist/
build/

# TensorBoard logs
logs/
runs/

# Temporary files
*.bak
*.swp
*~
# dataset 
dataset/
DFDC/
fakeavceleb/
mlruns/
mlartifacts/

# ignore meso4 full model
# /models/meso4/meso4_full_model.h5
results/
*.dvc
start_app.bat
models_backup/